@model IEnumerable<GameModel>

@{
    ViewData["Title"] = "Games";
}


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Carrousel de jeux -->
<div id="gameCarousel" class="carousel slide" data-ride="carousel" style="height: 300px; display: flex; align-items: center">
    <div class="carousel-inner">
        @{
            bool firstItem = true;
            foreach (var game in Model.ToList())
            {
                <div class="carousel-item @(firstItem ? "active" : "")">
                    <img src="@game.ImageLink" class="d-block w-25 mx-auto" alt="@game.Name">
                    <div class="carousel-caption d-none d-md-block">
                       
                    </div>
                </div>
                firstItem = false;
            }
        }
    </div>
    <a class="carousel-control-prev" href="#gameCarousel" role="button" data-slide="prev" style="color: black !important">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gameCarousel" role="button" data-slide="next" style="color: black !important">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="card-deck row row-cols-3">

    @foreach (var game in Model)
    {
        <div class="card text-center">
            <img src="@game.ImageLink" class="card-img-top img-fluid" style="max-height: 200px; width: auto" alt="">
            <div class="card-body">
                <h5 class="card-title">@game.Name</h5>
                <p class="card-text">@game.Description</p>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id" class="btn btn-primary">More on @game.Name !</a>
            </div>
        </div>
    }

    <a asp-controller="Game" asp-action="Add" class="btn btn-primary">Add your game</a>

</div>