@model IEnumerable<GameModel>

@{
    ViewData["Title"] = "Games";
}
<div class="card-deck row row-cols-3">

    @foreach (var game in Model)
    {
        <div class="card text-center">
            <img src="@game.ImageLink" class="card-img-top img-fluid" style="max-height: 200px; width: auto" alt="">
            <div class="card-body">
                <h5 class="card-title">@game.Name</h5>
                <p class="card-text">@game.Description</p>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id" class="btn btn-primary">More on @game.Name !</a>
            </div>
        </div>
    }

    <a asp-controller="Game" asp-action="Add" class="btn btn-primary">Add your game</a>

</div>